@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    animation: 1.5s ease-in-out 0s infinite loading;
}

@keyframes loading {
    0% {
        margin-right: 100%;
        margin-left: 0%;
    }

    50% {
        margin-right: 0%;
        margin-left: 0%;
    }

    100% {
        margin-left: 100%;
    }
}